[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
curlylint = "*"
django-stubs = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-docstrings = "*"
mypy = "*"
mypy-extensions = "*"
pep8-naming = "*"
pytest-django = "*"
pytest-factoryboy = "*"

[packages]
bpython = "*"
commonmark = "*"
django-extensions = "*"
django-heroku = "*"
gunicorn = "*"
psycopg2 = "*"
requests = "*"
xmltodict = "*"
Django = "*"
Jinja2 = "*"
PyYAML = "*"
Unidecode = "*"
dj-database-url = "*"
bs4 = "*"

[requires]
python_version = "3.8"
