appdirs==1.4.4
asgiref==3.5.0
astor==0.8.1
astroid==2.11.2
atomicwrites==1.4.0
attrs==21.4.0
beautifulsoup4==4.10.0
blessings==1.7
bpython==0.22.1
bs4==0.0.1
certifi==2021.10.8
cfgv==3.3.1
charset-normalizer==2.0.6
click==8.0.1
colorama==0.4.4
commonmark==0.9.1
coverage==6.3.3
curlylint==0.13.0
curtsies==0.3.7
cwcwidth==0.1.4
dill==0.3.4
distlib==0.3.4
dj-database-url==0.5.0
django==4.0.4
django-crispy-forms==1.14.0
django-extensions==3.1.3
django-heroku==0.3.1
django-stubs==1.9.0
django-stubs-ext==0.4.0
factory-boy==3.2.0
faker==13.3.2
filelock==3.6.0
flake8==4.0.1
flake8-bugbear==22.4.25
flake8-comprehensions==3.8.0
flake8-django @ git+https://github.com/rocioar/flake8-django.git@master
flake8-docstrings==1.6.0
flake8-polyfill==1.0.2
flake8-simplify==0.19.2
greenlet==1.1.1
gunicorn==20.1.0
identify==2.5.0
idna==3.3
inflection==0.5.1
iniconfig==1.1.1
isort==5.10.1
jinja2==3.1.1
lazy-object-proxy==1.7.1
lxml==4.8.0
mako==1.2.0
markupsafe==2.1.0
mccabe==0.6.1
mypy==0.950
mypy-extensions==0.4.3
nodeenv==1.6.0
packaging==21.3
parsy==1.1.0
pathspec==0.9.0
pep8-naming==0.12.1
platformdirs==2.5.0
pluggy==1.0.0
pre-commit==2.18.1
psycopg2==2.9.1
py==1.11.0
pycodestyle==2.8.0
pydocstyle==6.1.1
pyflakes==2.4.0
pygments==2.11.1
pylint==2.13.4
pyparsing==3.0.6
pytest==7.1.0
pytest-cov==3.0.0
pytest-django==4.5.2
pytest-factoryboy==2.2.0
python-dateutil==2.8.2
pyxdg==0.27
pyyaml==6.0
requests==2.27.1
requests-mock==1.9.3
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.3.1
sqlparse==0.4.2
text-unidecode==1.3
toml==0.10.2
tomli==2.0.0
types-pytz==2021.3.0
types-pyyaml==6.0.0
types-requests==2.27.9
types-urllib3==1.26.9
typing-extensions==4.1.1
tzdata==2022.1
urllib3==1.26.7
virtualenv==20.14.1
whitenoise==6.0.0
wrapt==1.13.3
xmltodict==0.12.0
