body, .ui.button, .ui.header, .ui.menu, .ui.large.menu, .ui.card > .content > .header, .ui.cards > .card > .content > .header, .ui.segment {
  font-family: "Helvetica Neue", Helvetica, Arial, serif;
  font-size: 110%;
}

.ui.grid {
  padding: 0 !important;
}

h2 > small {
  display: none;
}

h2:hover > small {
  display: inline;
  font-size: 0.8rem;
}
