@media (prefers-color-scheme: dark) {
  :root {
    --dark: rgb(26, 26, 26);
    --gray-dark: rgb(26, 26, 26);
  }

  body,
  .card,
  .card-body,
  .page-link,
  .list-group-item,
  .list-group-item:hover {
    background-color: var(--dark);
    color: var(--light);
  }
  .card,
  .page-link {
    border-color: var(--gray);
  }
}

.bg-dark {
  background-color: var(--dark) !important;
}
