.book {
  padding: 0;
}

.book img.image,
.book .placeholder {
  float: left;
  padding-right: 1rem;
  margin-right: 1rem;
  animation: none;
}

.book .header {
  margin-top: 1rem;
  padding-right: 1rem;
}
